.formss {
    /*margin: 20px auto;*/
    background-color: rgb(248, 248, 248);
    width: 100%;
    font: outline;
    font-size: large;
    font-family: Gill Sans Extrabold, cursive;
    z-index: 3;
    margin: auto;
    padding: 2px;

}